@import "bourbon"
@import "vars.sass"
body
	font-size: 15px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden

.hidden
	display: none
.top_line
	background: #f0f3f8
	height: 40px
	.top_line_mnu
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		height: 40px
		li
			display: flex
			align-items: center
			a
				font-size: 14px
				color: #454647
			&:first-child
				a
					color: #fff
					background: #ee3346
					border-radius: 20px
					padding: 1px 19px
					transition: all 0.75s
					border: 1px solid #ee3346
				a:hover
					text-decoration: none
					background: #fff
					color: #ee3346
			span
				background: url(../img/chevron.png) no-repeat center
				width: 10px
				height: 10px
				display: inline-flex
				margin-left: 5px
.top_line_mnu_right
	display: flex
	flex-flow: row wrap
	justify-content: space-around
	height: 40px
	li
		display: flex
		align-items: center
		.input_holder
			input[type="search"]
				display: none
			.icon_search
				background: url(../img/icon_set.png) no-repeat
				background-position: -9px -109px
				width: 23px
				height: 23px
				cursor: pointer
				display: block
		.kabinet_log_wrap
			display: none
		.icon_kabinet
			background: url(../img/icon_set.png) no-repeat
			background-position: -52px -108px
			width: 24px
			height: 26px
			display: block
			cursor: pointer
			&:after
				content: ""
				background: url(../img/chevron.png) no-repeat center
				width: 10px
				height: 10px
				display: inline-flex
				margin-left: 30px
.cart_header
	background: url(../img/icon_set.png) no-repeat
	background-position: -96px -108px
	width: 26px
	height: 26px
	display: block
	cursor: pointer
.header_logo
	padding: 20px 0px
	a
		margin-left: 10px
.contact_header
	display: flex
	flex-flow: row wrap
	justify-content: space-around
	padding: 20px 0px
	margin-left: -28px
	ul
		li
			color: #2c2c2c
			a
				color: #2c2c2c
			&:first-child
				color: #454647
				font-weight: 300
				margin-bottom: 10px
				a
					text-decoration: underline
.nav_header
	background: #f0f3f8
	.nav_header_wrap
		ul
			display: flex
			flex-flow: row wrap
			justify-content: center
			align-items: center
			li
				a
					color: #454647
					display: flex
					padding: 1rem 1.8rem
					align-items: center
					flex-flow: column wrap
					border-top: 3px solid #f0f3f8
					span
						background: url(../img/icon_set.png) no-repeat
						background-position: 0px 0px
						width: 45px
						height: 45px
						display: block
						cursor: pointer
					.category_first
						background-position: 0px 0px
					.category_second
						background-position: -52px 0px
					.category_third
						background-position: -118px 0
					.category_fours
						background-position: -173px 0
					.category_fives
						background-position: -227px 0
					.category_six
						background-position: -281px 0
					.category_seven
						background-position: -332px 0
					.category_eight
						background-position: -395px 0
					&:hover
						border-top: 3px solid #ee3346
					&:hover .category_first
						background-position: 0 -53px
					&:hover .category_second
						background-position: -51px -50px
					&:hover .category_third
						background-position: -120px -49px
					&:hover .category_fours
						background-position: -173px -49px
					&:hover .category_fives
						background-position: -226px -47px
					&:hover .category_six
						background-position: -277px -53px
					&:hover .category_seven
						background-position: -330px -48px
					&:hover .category_eight
						background-position: -388px -47px