@import "bourbon"
@import "vars.sass"
@import "reset.scss"
@import "header.sass"
//Load Libs SASS

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
.breadcrubms_wrap
	ul
		display: flex
		flex-flow: row wrap
		padding: 30px 15px
		li
			display: flex
			&:after
				content: "→"
				display: inline-flex
				margin: 0px 10px
				color: #666666
			&:last-child:after
				content: ""
			a
				color: #999999














//ALWAYS END
@import "media"
